<div class="app-jumbotron">
  
  <spinner></spinner>
  
  <img src="/assets/img/001-web-design.svg"
       class="jumbo-image"
       height="300"
       alt="Cool Image">
  
  <div style="max-width: 500px;">
    <h1 class="center" style="color: white">
      This is going to be a cool web-app!
    </h1>
    <app-spacer height="30"></app-spacer>
    <button mat-raised-button
            (click)="doStart()"
            color="accent"
            style="padding: 10px 15px; font-size: 20px">
      Get Started!
    </button>
  </div>
  
</div>
