@import '../../main/src/variables';

.app-jumbotron {
    min-height: 100vh;
    background: $primary-color; //linear-gradient(90deg,#3F51B5 0,#7986CB);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
}

.jumbo-image {
    padding: 20px;
}
