<a name="animal-input"></a>
<mat-card>
  <div class="center">
    <div>
      <mat-form-field class="full-width">
        <input matInput
               id="animal-input"
               type="text"
               placeholder="Animal's Name"
               (keypress)="createAnimalOnEnter($event)"
               [(ngModel)]="newAnimal.name">
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="accent" (click)="createAnimal()">Create</button>
    </div>
  </div>
</mat-card>
