<app-jumbotron></app-jumbotron>

<div class="section-type-one">
  <div class="container">
    <div class="image-title-text-section">
      <img src="/assets/img/004-speed.svg"
           height="150"
           style="padding: 20px"
           alt="">
      <div style="max-width: 450px">
        <h2>
          Speed & Performance
        </h2>
        <p class="large">
          This app is fast... Bla bla bla... Write some stuff here...
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section-type-two">
  <div class="container">
    <h2 style="text-align: center">Fully functional REST-API</h2>
    <animal-wrapper></animal-wrapper>
  </div>
</div>
