<div style="max-width: 600px; margin: 0 auto;">
  <mat-card class="bottom-padded-card">
    
    <h1>
      User Profile
    </h1>
    
    <p>
      !!! Work in progress, currently displaying fake user !!!
    </p>
    
    <mat-form-field class="half-width">
      <input matInput [(ngModel)]="user.firstName" placeholder="First Name">
    </mat-form-field>
    <mat-form-field class="half-width">
      <input matInput [(ngModel)]="user.lastName" placeholder="Last Name">
    </mat-form-field>
    
    <mat-form-field class="full-width">
      <input matInput [(ngModel)]="user.email" autocomplete="false" placeholder="Email">
    </mat-form-field>
    
    <div class="clearfix">
      <div class="float-right">
        <button (click)="doChange()" color="primary" mat-raised-button>Save Changes</button>
      </div>
    </div>
  
  </mat-card>
</div>
