.topnav {
    position: fixed;
    width: 100%;
    background: RGBA(255, 255, 255, 0.90);
    z-index: 10;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.bs-topnav {
    background: RGBA(255, 255, 255, 0.90);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.home-button {
    height: 100%;
    display: flex;
    align-items: center;
}

.example-spacer {
    flex: 1 1 auto;
}